<style>
  .charity + .footer {
    margin-top: 0;
  }
</style>
{% capture positions %}{{ settings.position_1 }},{{ settings.position_2 }},{{ settings.position_3 }},{{ settings.position_4 }},{{ settings.position_5 }},{{ settings.position_6 }},{{ settings.position_7 }},{{ settings.position_8 }},{{ settings.position_9 }},{{ settings.position_10 }}{% endcapture %}
{% assign positions = positions | split: ',' %}

{% if settings.slideshow_enabled %}

<div class="charity">
  <div id="homepage_slider" class="flexslider">
    <ul class="slides">
      {% if settings.video_position == '1' %}{{ video_slide }}{% endif %}
      {% if settings.slideshow_1_enabled %}
	    	<li>
	    		<img class="banner" src="{{ 'charity_top.jpg' | asset_url }}" alt="{{ 'Happy women after receiving a new pair of reading glasses.' | escape }}" />
	    		{% if settings.image_1_headline != blank or true or settings.image_1_subtitle != blank or settings.image_1_button_text != blank %}
	    		  <div class="flex-caption" style="top: 30%;">
              <div class="container">
                <div class="columns {% if settings.image_1_text_align == 'left' %} align_left ten offset-by-one {% elsif settings.image_1_text_align == 'right' %} align_left seven offset-by-nine {% else %} sixteen {% endif %}">
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ 'Giving the Gift of Vision' }}</h1>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ }}</p>
                  {% if settings.image_1_button_text != blank %}
                    <a href="{{ settings.image_1_link }}" class="action_button">
                      {{ settings.image_1_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
	    		{% endif %}
	    	</li>
	    {% endif %}
      {% if settings.video_position == '2' %}{{ video_slide }}{% endif %}
      {% if settings.slideshow_2_enabled %}
      	<li>
      		<a href="{{ settings.image_2_link }}"><img src="{{ 'slideshow_2.jpg' | asset_url }}" alt="{{ settings.image_2_alt_text | escape }}" /></a>
          {% if settings.image_2_headline != blank or settings.image_2_subtitle != blank or settings.image_2_button_text != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if settings.image_2_text_align == 'left' %} align_left ten offset-by-one {% elsif settings.image_2_text_align == 'right' %} align_left seven offset-by-nine {% else %} sixteen {% endif %}">
                  <p class="headline" style="color:{{settings.banner_color}}">{{ settings.image_2_headline }}</p>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_2_subtitle }}</p>
                  {% if settings.image_2_button_text != blank %}
                    <a href="{{ settings.image_2_link }}" class="action_button">
                      {{ settings.image_2_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
      {% if settings.video_position == '3' %}{{ video_slide }}{% endif %}
      {% if settings.slideshow_3_enabled %}
      	<li>
      		<a href="{{ settings.image_3_link }}"><img src="{{ 'slideshow_3.jpg' | asset_url }}" alt="{{ settings.image_3_alt_text | escape }}" /></a>
          {% if settings.image_3_headline != blank or settings.image_3_subtitle != blank or settings.image_3_button_text != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if settings.image_3_text_align == 'left' %} align_left ten offset-by-one {% elsif settings.image_3_text_align == 'right' %} align_left seven offset-by-nine {% else %} sixteen {% endif %}">
                  <p class="headline" style="color:{{settings.banner_color}}">{{ settings.image_3_headline }}</p>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_3_subtitle }}</p>
                  {% if settings.image_3_button_text != blank %}
                    <a href="{{ settings.image_3_link }}" class="action_button">
                      {{ settings.image_3_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
      {% if settings.video_position == '4' %}{{ video_slide }}{% endif %}
      {% if settings.slideshow_4_enabled %}
      	<li>
      		<a href="{{ settings.image_4_link }}"><img src="{{ 'slideshow_4.jpg' | asset_url }}" alt="{{ settings.image_4_alt_text | escape }}" /></a>
          {% if settings.image_4_headline != blank or settings.image_4_subtitle != blank or settings.image_4_button_text != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if settings.image_4_text_align == 'left' %} align_left ten offset-by-one {% elsif settings.image_4_text_align == 'right' %} align_left seven offset-by-nine {% else %} sixteen {% endif %}">
                  <p class="headline" style="color:{{settings.banner_color}}">{{ settings.image_4_headline }}</p>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_4_subtitle }}</p>
                  {% if settings.image_4_button_text != blank %}
                    <a href="{{ settings.image_4_link }}" class="action_button">
                      {{ settings.image_4_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
      {% if settings.video_position == '5' %}{{ video_slide }}{% endif %}
      {% if settings.slideshow_5_enabled %}
      	<li>
      		<a href="{{ settings.image_5_link }}"><img src="{{ 'slideshow_5.jpg' | asset_url }}" alt="{{ settings.image_5_alt_text | escape }}" /></a>
          {% if settings.image_5_headline != blank or settings.image_5_subtitle != blank or settings.image_5_button_text != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if settings.image_5_text_align == 'left' %} align_left ten offset-by-one {% elsif settings.image_5_text_align == 'right' %} align_left seven offset-by-nine {% else %} sixteen {% endif %}">
                  <p class="headline" style="color:{{settings.banner_color}}">{{ settings.image_5_headline }}</p>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_5_subtitle }}</p>
                  {% if settings.image_5_button_text != blank %}
                    <a href="{{ settings.image_5_link }}" class="action_button">
                      {{ settings.image_5_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
      {% if settings.video_position == '6' %}{{ video_slide }}{% endif %}
      {% if settings.slideshow_6_enabled %}
      	<li>
      		<a href="{{ settings.image_6_link }}"><img src="{{ 'slideshow_6.jpg' | asset_url }}" alt="{{ settings.image_6_alt_text | escape }}" /></a>
          {% if settings.image_6_headline != blank or settings.image_6_subtitle != blank or settings.image_6_button_text != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if settings.image_6_text_align == 'left' %} align_left ten offset-by-one {% elsif settings.image_6_text_align == 'right' %} align_left seven offset-by-nine {% else %} sixteen {% endif %}">
                  <p class="headline" style="color:{{settings.banner_color}}">{{ settings.image_6_headline }}</p>
                  <p class="subtitle" style="color:{{settings.banner_color}}">{{ settings.image_6_subtitle }}</p>
                  {% if settings.image_6_button_text != blank %}
                    <a href="{{ settings.image_6_link }}" class="action_button">
                      {{ settings.image_6_button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      {% endif %}
    </ul>
	</div>


{% endif %}
<style>
@media only screen and (min-width: 959px) {
  .desktop_show { display: block !important }
}

</style>  

  <br class="clear" />
  <div class="container main content"> 
    <div class="sixteen columns page">
   
      
            <style><!--
      hr{border-color:#1fa7d6;}
      .highlight{color:#1fa7d6;margin:0 auto;}
      --></style>
      <h2 class="center">Devoted To Change</h2>
      <div class="fourteen columns offset-by-one">
      <h6 class="mobile_hidden center" style="border: none; margin-bottom: 20px;">Fello was founded with a dedication to support those in need. We are humbled by the opportunity to work with VOSH International, a purposeful organization committed to providing eye care around the world.</h6>
      </div>
      <div class="ten columns offset-by-three" style="margin-bottom: 30px;">
      <h1 class="three columns highlight center">1<small style="color: black; font-size: 55%;">in</small>7</h1>
      <span>1 in 7 people across the globe are unable to learn or work because they can't see clearly.</span>
      <hr />
      <h1 class="three columns highlight center">153</h1>
      <span>153 million people suffer from Uncorrected Refractive Error (URE), which is an easily preventable cause of vision loss.</span>
      <hr />
      <h1 class="three columns highlight center">$5.00</h1>
      <span>$5 can help those in need by providing an individual the gift of sight. Allowing them to regain their independence and reimagine the future.</span></div>
    
    
    </div>
  </div>
  <br class="clear" />
  <div class="main" style="background-color: #e9f6fb; display: flex;">
    <div style="width: 50%">
      <img class="left" src="{{ 'char.jpg' | asset_url }}" alt="{{ 'Fello at an eye care clinic.' | escape }}" />
    </div>
    <div class="left center" style="width: 50%; margin-top: auto; margin-bottom: auto;">
      <a href="http://www.vosh.org" target="_blank" title="VOSH International"><img src="{{ 'vosh_logo.png' | asset_url }}" alt="{{ 'vosh international' | escape }}" style="width: 30%;"/></a>
      <p class="desktop_show" style="margin: 20px; display: none;">VOSH helps restore sight to those in need through medical treatment and prescription glasses. Through these clinics VOSH International has helped restore sight to more than 1,000,000 people worldwide.</p>
    </div>
    <br class="clear" />
  </div>
</div>